* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 5px;
}

.row:after {
    content: "";
    display: block;
    clear: both;
}

body {
    margin: 0;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.header div {
    padding: 0;
}
@media screen and (max-width: 768px ){
    [class*="col-"] {
        width: 100%;
        float: left;
    }
    .header ul li {
        font-size: 10pt;
    }
    .left {
        display: none;
    }
}
.header {
    position: fixed;
    width: 100%;
    background-color: black;
    font-size: 20pt;
    height: 50px;
    font-family: Arial, Tahoma, serif;
}

.header ul {
    margin: 0;
    padding: 10px;
}

.header ul li {
    display: inline;
    padding: 10px;
}

.header a {
    color: #CDCDCD;
    text-decoration: none;
}

.header ul li:hover {
    background-color: red;
}

.body {
    padding-top: 50px;
}

.left {
    background-color: #F8F8FF;
    height: 700px;
}

.left ul {
    padding-top: 20px;
    padding-left: 0px;
}

.left ul li {
    list-style-type: none;
    padding: 20px 40px;
    text-align: center;
}

.left a {
    color: blue;
    text-decoration: none;
}

.center1 {
    border-bottom: 1px solid #CDCDCD;
}

.right {
    background-color: #F8F8FF;
    height: 700px;
}
.right button {
    margin: 20px 25%;
    width: 200px;
    height: 100px;
}
.footer {
    background-color: black;
    text-align: center;
}
.footer p {
    color: white;
}